---
http_interactions:
- request:
    method: get
    uri: https://api.makeleaps.com/api/partner/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer qwertyuiopp1234567890zxcvbnm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - W/"f2b8d1d6dc3703a18b38c002f28162b0"
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"next":null,"prev":null,"page":1,"count":1,"status":200},"response":[{"url":"https://api.makeleaps.com/api/partner/123456789123456789/","name":"mock
        industory co ltd.","clients":"https://api.makeleaps.com/api/partner/123456789123456789/client/","contacts":"https://api.makeleaps.com/api/partner/123456789123456789/contact/","documents":"https://api.makeleaps.com/api/partner/123456789123456789/document/","line_item_catalog":"https://api.makeleaps.com/api/partner/123456789123456789/item/","tags":"https://api.makeleaps.com/api/partner/123456789123456789/tag/","sending_orders":"https://api.makeleaps.com/api/partner/123456789123456789/sending/order/","history":"https://api.makeleaps.com/api/partner/123456789123456789/history/","integrations":{}}]}'
  recorded_at: Thu, 20 Jun 2019 14:24:55 GMT
recorded_with: VCR 5.0.0
