---
http_interactions:
- request:
    method: post
    uri: https://api.makeleaps.com/user/oauth2/token/?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZWJvZHk6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"access_token": "bV1IbpzMA9Qx2LnpxHSXkVQvRmlsaV", "expires_in": 36000,
        "token_type": "Bearer", "scope": "read write"}'
  recorded_at: Thu, 20 Jun 2019 13:08:12 GMT
recorded_with: VCR 5.0.0
